{% extends "layout.html" %}
{% block content %}

<!-- 画像入力フォーム -->
<form action="/upload" method="post" enctype="multipart/form-data">
  <input type="file" name="image" accept="image/png, image/jpeg">
  <button type="submit">submit</button>
</form>

{% if images %}
  {% for path in images %}
    <div>
      <img src="images/{{ path }}" style="margin-top: 10px; vertical-align: bottom; width: 200px;">
    </div>
  {% endfor %}
{% endif %}

<!-- answerの内容を表示 -->
<div>
  <p>{{ answer }}</p>
</div>

{% endblock %}